<div id="header">
  <div id="header-empty-box"></div>
  <img [src]="brewdogLogo" alt="Logo" />
  <div id="header-filter">
    <button (click)="openMenu()">Filters</button>
    <div id="menu">
      <form
        [ngStyle]="{ visibility: isOpen ? 'visible' : 'hidden' }"
        [formGroup]="filteredForm"
        (ngSubmit)="onFilter()"
      >
        <select name="malts" formControlName="malt">
          <option value="Malt" selected="true" disabled="true">Malt</option>
          <option *ngFor="let malt of malts">
            {{ malt }}
          </option>
        </select>
        <select name="hops" formControlName="hop">
          <option value="hops" selected="true" disabled="true">Hop</option>
          <option *ngFor="let hop of hops">
            {{ hop }}
          </option>
        </select>
        <button type="submit">Apply filters</button>
      </form>
    </div>
  </div>
</div>
