@import '../../styles.scss';

#beer-card {
  display: flex;
  justify-content: center;
  height: 80vh;
  #bc-left {
    position: relative;
    width: 45%;
    height: 85%;
    margin-top: 2%;
    img {
      position: absolute;
      top: 0;
      height: 100%;
    }
    h1:first-child {
      z-index: -1;
    }
    h1 {
      position: relative;
      z-index: 2;
    }
    #first-bottle {
      transform: scale(90%) translate(30%, 5%) rotate(20deg);
    }
    #second-bottle {
      z-index: -2;
      transform: scale(60%) translate(370%, -35%) rotate(-35deg);
      filter: blur(0.3em);
    }
  }
  #bc-bar {
    width: 80%;
    border: 1px solid $lightGrey;
  }
  #bc-right {
    margin-top: 2%;
    width: 35%;
    height: 75%;
    padding: 3%;
    background-color: $cardBackground;
    h2 {
      margin-top: 0;
    }
    h3,
    p {
      margin-top: 40px;
    }
  }
  #bc-right > * {
    margin: 20px 0;
  }
}
